params {

  outdir="wes"
  infile="samples.txt"
  hg38_ref="/Business/gene_company/zhaorui/data/somatic-hg38/Homo_sapiens_assembly38.fasta"
  pon_file="/Business/gene_company/zhaorui/data/somatic-hg38/pon-new.hg38.vcf.gz"
  gnomad_af="/Business/gene_company/zhaorui/data/somatic-hg38/af-only-gnomad.hg38.vcf.gz"
  dbsnp_vcf="/Business/gene_company/zhaorui/data/ncbi/genome/hg38/dbSNP154_v20200501_no_alt.vcf.gz"
  af_file="/Business/gene_company/zhaorui/data/somatic-hg38/af-gnomad2.1_dbsnp151.hg38.vcf.gz"
  small_exac="/Business/gene_company/zhaorui/data/somatic-hg38/small_exac_common_3.hg38.vcf.gz"
  exome_bed="/Business/gene_company/zhaorui/data/bed/SureSelect_Human_All_Exon_V6_r2_hs_hg38/S07604514_Covered.bed"
  liftover_chain="/Business/gene_company/zhaorui/data/liftover/hg38ToHg19.over.chain.gz"
  liftover_ref="/Business/gene_company/zhaorui/data/liftover/hg19.fa.gz"
  funco_data_source="/Business/gene_company/zhaorui/data/somatic-hg38/funcotator_dataSources.v1.7.20200521s"
  sequencing_center='NJBPS'
  known_indels = '/Business/gene_company/genecenter2/work/WGS/Database/snp_indel/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  freec_chrFiles = '/Business/gene_company/zhaorui/data/control-freec/hg38.chrFiles/'
  freec_chrLenFile = '/Business/gene_company/zhaorui/data/control-freec/hg38.fai'
  test_mode = false
  lsf_queue = 'xuxiaolan'
}

// Project used for SGE cluster
PROJECT = 'tumor-normal'
species='Human'
sequencing_type = 'WES'

process {
  beforeScript='source $HOME/.bashrc'
  scratch=true
  errorStrategy='finish'

}
